<html>

<head>
    <title>Create New Mentor</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <h1>Create New Mentor</h1>
    <form action="/mentors" method="POST">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" required><br>
        <label for="id">ID:</label>
        <input type="text" name="id" id="id" required><br>
        <label for="email">Email:</label>
        <input type="email" name="email" id="email" required><br>
        <input type="submit" value="Create Mentor">
    </form>
</body>

</html>